Options +FollowSymLinks
RewriteEngine On

# Allow access to JS files in the 'js' folder
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^js/(.+)$ js/$1 [L]

# Allow access to CSS files in the 'css' folder
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^css/(.+)$ css/$1 [L]

# Redirect all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# Prevent execution of scripts in 'js' and 'css' folders
<FilesMatch "\.(php|cgi|pl|py)$">
    <If "%{REQUEST_URI} =~ m#^/?(js|css)/#">
        Deny from all
    </If>
</FilesMatch>